<!doctype html>
<html>
  <head>
    <title>React Transform Boilerplate</title>
    <!-- {% for (var css in o.htmlWebpackPlugin.files.css) { %} -->
    <!--   <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet"> -->
    <!-- {% } %} -->
  </head>
  <body>
    <div id="root"></div>

    <!-- {% for (var js in o.htmlWebpackPlugin.files.js) { %} -->
    <!--   <script src="{%=o.htmlWebpackPlugin.files.js[js] %}"></script> -->
    <!-- {% } %} -->
    <script src="/bundle.js"></script>
  </body>
</html>
